{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flower Shop</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Unbounded:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header id="header">
		<div class="container">
			<div class="header ficb">
				<a href="/"><img src="{% static 'images/logo.svg' %}" alt="logo" class="logo"></a>
				<nav>
					<ul class="menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section id="orderStep">
		<div class="container">
			<div class="order orderStep">
				<div class="order__block">
					<div class="order_items">
						<div class="title">Оплата заказа № {{ order_number }}</div>
						<div id="payment_title" class="title result__items_title">{{ bouquet_title }}</div>
						<div id="payment_price" class="result__items_price">{{ bouquet_price }}</div>
						<form action="#" class="order__form orderStep_form">
							<div class="order__form_block">
								<div class="order__form_items">
									<input id="order_number" value="{{ order_number }}" type="hidden">
									<div class="order__form_intro">номер карты</div>
									<input id="cardNum" type="text" name="cardNum" class="order__form_input orderStep_form_input" placeholder="Введите номер" required>
									<div class="order__form_item fic">
										<input id="cardMonth" type="text" name="cardMm" class="order__form_input orderStep_form_input" placeholder="ММ" required>
										<input id="cardYear" type="text" name="cardGg" class="order__form_input orderStep_form_input" placeholder="ГГ" required>
									</div>
									
									<input id="cardName" type="text" name="cardFname" class="order__form_input orderStep_form_input" placeholder="Имя владельца" required>
									<input id="cardCVC" type="text" name="cardCvc" class="order__form_input orderStep_form_input" placeholder="CVC" required>
								</div>
								<div class="order__form_items">
									<div class="order__form_intro">Ваш e-mail (необязательно)</div>
									<input type="email" name="mail" class="order__form_input orderStep_form_input" placeholder="pochta@mail.ru">
								</div>
							</div>
							<div id="message_line"></div>
							<div class="order__form_line"></div>
						</form>
						<div class="order__form_btns ficb">
							<button class="btn order__form_pay">Оплатить</button>
							<button class="btn order__form_btn">Назад</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<img src="{% static 'images/orderImg.jpg' %}" alt="orderImg" class="order__img">
	</section>
	<footer id="footer">
		<div class="container">
			<div class="footer">
				<a href="/"><img src="{% static 'images/logo.svg' %}" alt="logo" class="logo footer__logo"></a>
				<nav>
					<ul class="menu footer__menu ficc">
						<li class="menu__item"><a href="{% url 'catalog' %}" class="menu__item_link">Каталог</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Рекомендации</a></li>
						<li class="menu__item"><a href="#" class="menu__item_link">Контакты</a></li>
					</ul>
				</nav>
				<hr class="line">
				<a href="#" class="footer__poli">Политика конфиденциальности</a>
				<p class="footer_cop">©️2022. FlowerShop. Все права защищены</p>
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://static.yoomoney.ru/checkout-js/v1/checkout.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>